body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0E73F6;
  --negative-color: #F76659;
  --waiting-color: #F8C51B;
  --ready-color: #22C348;
  --delivered-color: #1AC19D;
  
  --background-color: #fff;

  --text-color-accent: #000;
  --text-color-1: #1A2024;
  --text-color-2:  #303940;
  --text-color-3: #48535B;

  --border-color: #E5E9EB;
  --border-color-2: #EEF0F2;

  --info-color: #6E8BB7;
}
body, button {
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
