.container {
    display: flex;
}
.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    padding: 10px;
    border: 1px solid var(--border-color);
}
.item img {
    width: 32px;
    height: 32px;
}