.container {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    background-color: var(--background-color);
}
.container-active {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    background-color: var(--primary-color);
}